body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

.clear {
  clear: both;
  margin: 10px 0;
}

.btn-add {
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    background-color: #0b7dda;
  }
}

.btn-back {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;

  &:hover {
    text-decoration: underline;
  }
}

.btn-edit,
.btn-confirm {
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-delete,
.btn-cancel {
  border-radius: 4px;
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.user-list {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;

  .table-users {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ddd;
      padding: 10px;
      text-align: left;

      a {
        color: #007bff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    th {
      background-color: #f2f2f2;
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
        }

        td {
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }

          button {
            padding: 5px 10px;
            margin-right: 5px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

form {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 400px;

  label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;

    span {
      color: #ff0000;
    }
  }

  label.for-checks {
    margin-top: 0;
  }

  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  textarea {
    height: 100px;
  }

  small {
    color: #ff0000;
    margin-bottom: 10px;
    display: block;
  }

  p {
    font-weight: bold;
    margin-bottom: 10px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    width: 15px;
    margin-right: 5px;
    transform: translateY(2px);
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 5px;

      label {
        display: flex;
        align-items: center;

        input[type="checkbox"] {
          margin-right: 5px;
        }
      }
    }
  }

  #lista-arquivos {
    background-color: #ecebeb;
    border-radius: 5px;
    display: flex;
    font-size: 14px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    p {
      text-align: center;
    }

    ul {
      width: 100%;
    }
    li {
      // background-color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 5px 10px;
      padding: 3px;
      border-bottom: 1px solid #bdbcbc;
    }

    .btn-delete-file {
      background-color: #f44336;
      color: #fff;
      border: none;
      padding: 2px 6px;
      border-radius: 4px;
      cursor: pointer;
      margin-top: 0px;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }

  button {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: #0b7dda;
    }
  }
}

.dados-usuario {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 600px;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  p {
    margin: 10px 0;
  }

  strong {
    margin-right: 5px;
  }

  .enderecos {
    margin-top: 20px;

    h2 {
      color: #333;
      margin-bottom: 20px;
    }

    .endereco {
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 10px;
      margin-top: 20px;

      p {
        margin: 5px 0;
      }

      strong {
        margin-right: 5px;
      }

      button {
        padding: 5px 10px;
        margin-right: 5px;
        cursor: pointer;
      }

      .btn-edit {
        background-color: #4caf50;
        color: #fff;
        border: none;
      }

      .btn-delete {
        background-color: #f44336;
        color: #fff;
        border: none;
      }
    }
  }

  .arquivos {
    margin-top: 20px;

    h2 {
      color: #333;
      margin-bottom: 10px;
    }

    .arquivo {
      border: 1px solid #ddd;
      border-radius: 8px;
      padding: 10px;
      margin-bottom: 10px;

      p {
        margin: 5px 0;
      }

      strong {
        margin-right: 5px;
      }

      a {
        color: #007bff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .btn-delete {
        background-color: #f44336;
        color: #fff;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 10px;

        &:hover {
          background-color: #d32f2f;
        }
      }
    }
  }
}
