/* Estilo para o corpo da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Estilo para o container principal */
.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  /* Estilo para o cabeçalho h1 */
  h1 {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    margin: 0;
  }

  /* Estilo para o contêiner de filtros */
  .filtros {
    margin-top: 20px;
    display: flex;
    align-items: center;

    /* Estilo para o campo de busca */
    .busca {
      flex: 4; /* Ocupa todo o espaço disponível */
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    /* Estilo para o rótulo do filtro "Turma" */
    label {
      flex: 1;
      margin-left: 10px; /* Espaço entre o campo de busca e o rótulo "Turma" */
      color: #555;
      font-weight: bold;
    }

    /* Estilo para o seletor "Turma" */
    select {
      flex: 2;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
  }

  .lista-alunos {
    /* Estilo para a lista de alunos */
    ul {
      list-style: none;
      padding: 0;
    }

    /* Estilo para cada item da lista (li) */
    li {
      border-bottom: 1px solid #ccc;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    /* Estilo para o número de identificação (span.id) */
    .id {
      font-weight: bold;
      margin-right: 10px;
    }

    /* Estilo para os nomes dos alunos (span.name) dentro de links */
    .name {
      text-decoration: none;
      color: #3498db;
    }

    /* Estilo para a classe dos alunos (span.classe) */
    .classe {
      color: #555;
    }
  }

  .paginacao {
    /* Estilo para a paginação */
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }

    /* Estilo para cada item da paginação */
    li {
      margin: 0 5px;
    }

    /* Estilo para o link ativo da paginação */
    .active a {
      font-weight: bold;
      color: #3498db;
    }
  }

  // Estilo para o link "Voltar"
  .voltar {
    color: #3498db;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
  }

  // Estilo para o contêiner de detalhes
  .detalhes {
    display: flex;
    margin-top: 20px;

    // Estilo para o contêiner de foto
    .foto {
      flex: 1;

      img {
        max-width: 100%;
        border-radius: 5px;
      }
    }

    // Estilo para o contêiner de informações
    .informacoes {
      flex: 2;
      padding: 0 20px;

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        margin: 0;

        span {
          font-weight: bold;
          color: #3498db;
        }
      }
    }
  }
  // Estilo para as tabelas
  table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid #ccc;
      padding: 10px;
      text-align: center;
    }

    th {
      background-color: #3498db;
      color: #fff;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
    }
  }
}
