body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

.clear {
  clear: both;
  margin: 10px 0;
}

.btn-add {
  text-decoration: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.btn-add:hover {
  background-color: #0b7dda;
}

.btn-back {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 20px;
}
.btn-back:hover {
  text-decoration: underline;
}

.btn-edit,
.btn-confirm {
  border-radius: 4px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.btn-delete,
.btn-cancel {
  border-radius: 4px;
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.user-list {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.user-list .table-users {
  width: 100%;
  border-collapse: collapse;
}
.user-list .table-users th,
.user-list .table-users td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}
.user-list .table-users th a,
.user-list .table-users td a {
  color: #007bff;
  text-decoration: none;
}
.user-list .table-users th a:hover,
.user-list .table-users td a:hover {
  text-decoration: underline;
}
.user-list .table-users th {
  background-color: #f2f2f2;
}
.user-list .table-users tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
.user-list .table-users tbody tr td img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user-list .table-users tbody tr td button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}

form {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 400px;
}
form label {
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
}
form label span {
  color: #ff0000;
}
form label.for-checks {
  margin-top: 0;
}
form input,
form select,
form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form textarea {
  height: 100px;
}
form small {
  color: #ff0000;
  margin-bottom: 10px;
  display: block;
}
form p {
  font-weight: bold;
  margin-bottom: 10px;
}
form input[type=radio],
form input[type=checkbox] {
  width: 15px;
  margin-right: 5px;
  transform: translateY(2px);
}
form ul {
  list-style: none;
  padding: 0;
}
form ul li {
  margin-bottom: 5px;
}
form ul li label {
  display: flex;
  align-items: center;
}
form ul li label input[type=checkbox] {
  margin-right: 5px;
}
form #lista-arquivos {
  background-color: #ecebeb;
  border-radius: 5px;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
form #lista-arquivos p {
  text-align: center;
}
form #lista-arquivos ul {
  width: 100%;
}
form #lista-arquivos li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 10px;
  padding: 3px;
  border-bottom: 1px solid #bdbcbc;
}
form #lista-arquivos .btn-delete-file {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 2px 6px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0px;
}
form #lista-arquivos .btn-delete-file:hover {
  background-color: #d32f2f;
}
form button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
form button:hover {
  background-color: #0b7dda;
}

.dados-usuario {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  width: 600px;
}
.dados-usuario img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 20px;
}
.dados-usuario p {
  margin: 10px 0;
}
.dados-usuario strong {
  margin-right: 5px;
}
.dados-usuario .enderecos {
  margin-top: 20px;
}
.dados-usuario .enderecos h2 {
  color: #333;
  margin-bottom: 20px;
}
.dados-usuario .enderecos .endereco {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.dados-usuario .enderecos .endereco p {
  margin: 5px 0;
}
.dados-usuario .enderecos .endereco strong {
  margin-right: 5px;
}
.dados-usuario .enderecos .endereco button {
  padding: 5px 10px;
  margin-right: 5px;
  cursor: pointer;
}
.dados-usuario .enderecos .endereco .btn-edit {
  background-color: #4caf50;
  color: #fff;
  border: none;
}
.dados-usuario .enderecos .endereco .btn-delete {
  background-color: #f44336;
  color: #fff;
  border: none;
}
.dados-usuario .arquivos {
  margin-top: 20px;
}
.dados-usuario .arquivos h2 {
  color: #333;
  margin-bottom: 10px;
}
.dados-usuario .arquivos .arquivo {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}
.dados-usuario .arquivos .arquivo p {
  margin: 5px 0;
}
.dados-usuario .arquivos .arquivo strong {
  margin-right: 5px;
}
.dados-usuario .arquivos .arquivo a {
  color: #007bff;
  text-decoration: none;
}
.dados-usuario .arquivos .arquivo a:hover {
  text-decoration: underline;
}
.dados-usuario .arquivos .arquivo .btn-delete {
  background-color: #f44336;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.dados-usuario .arquivos .arquivo .btn-delete:hover {
  background-color: #d32f2f;
}

/*# sourceMappingURL=styles.css.map */
